<div>
  <div>
    <h1>
      List of all courses
    </h1>
  </div>
</div>

<hr>
  <div>
    <a href="/">
      Go back
    </a>
  </div>
<hr>

<div>
  <div>
    <table class = 'table table-hover'>
      <tr>
        <th scope="col">
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Description
        </th>

        <th>
          Professor
        </th>

        <th>
          Skill
        </th>

        <th>
          Rating
        </th>

        <th>
          Hours required
        </th>

        <th>
          Student Likes
        </th>

        <th>
          Status
        </th>

        <th>
          Details
        </th>


        <th>
        </th>
      </tr>

      <% @list_of_courses.each do |a_course| %>
      <tr>
        <td>
          <%= a_course.id %>
        </td>

        <td>
          <%= a_course.title %>
        </td>

        <td>
          <%= a_course.description %>
        </td>

        <td>
          <%= a_course.professor_id %>
        </td>

        <td>
          <%= a_course.skill_id %>
        </td>

        <td style="text-align:center">
          <%= a_course.rating %>
        </td>

        <td style="text-align:center">
          <%= a_course.hours_required %>
        </td>

        <td style="text-align:center">
          <%= a_course.likes_count %>
        </td>

        <td style="text-align:center">
          <% if @likes_array.include?(a_course.id) %>
          <%# <% if a_course.likes.first != nil && a_course.likes.first.user_id == session[:user_id] %> 
            <img src="https://1.bp.blogspot.com/--qAXSfx8T4A/WL-ecki3nRI/AAAAAAAAzbg/kdvEXjWEVrU8bvWnOq4XtSBUEJV10ESNgCLcB/s280/like-flat.png"
            width="50" height="50">

          
          <% else%>
            <img src="https://img.icons8.com/cotton/2x/facebook-like--v2.png" 
            width="40" height="40">
          <% end%>
        </td>

        <td>
          <a href="/courses/<%= a_course.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
