<div>
  <div>
    <h1>
      Details of <%= @the_course.title %>
    </h1>

<hr>

    <% if @the_course.likes.where({ :user_id => session[:user_id]}).first == nil %>
      
      <form action="/insert_like" method="post">
        <div>Click to like!   ---->
        <input type="hidden" value ="<%= session[:user_id] %>" id="user_id_box" name="query_user_id">
        <input type="hidden" value ="<%= @the_course.id %>" id="course_id_box" name="query_course_id">
        <button class="btn">
          <img src="https://img.icons8.com/cotton/2x/facebook-like--v2.png"
          width="50" height="50">
        </button>
        </div>
      </form>

    <% else %>

      <form action="/delete_like/<%= @the_course.likes.where({ :user_id => session[:user_id]}).first.id %>" method="get">
        <div>Click to unlike! ->
        <input type="hidden" value ="<%= session[:user_id] %>" id="user_id_box" name="query_user_id">
        <input type="hidden" value ="<%= @the_course.id %>" id="course_id_box" name="query_course_id">
        <button class="btn">
          <img src="https://1.bp.blogspot.com/--qAXSfx8T4A/WL-ecki3nRI/AAAAAAAAzbg/kdvEXjWEVrU8bvWnOq4XtSBUEJV10ESNgCLcB/s280/like-flat.png"
          width="50" height="50">
        </button>
        </div>
      </form>

    <% end%>
<hr>
    <div>
      <div>
        <a href="/">
          Home
        </a>
      </div>

      <div>
        <a href="/courses">
          See all courses
        </a>
      </div>
    </div>
<hr>
    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_course.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_course.description %>
      </dd>

      <dt>
        Professor
      </dt>
      <dd>
        <%= @the_course.professor.name %>
      </dd>

      <dt>
        Class Rating (0 to 5)
      </dt>
      <dd>
        <%= @the_course.rating %>
      </dd>

      <dt>
        Hours required per week outside of class
      </dt>
      <dd>
        <%= @the_course.hours_required %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_course.likes_count %>
      </dd>

    </dl>
  </div>
</div>

<hr>
