<h2>Howdy, <%= @current_user.email %></h2>

<hr>

<div class="card-deck">
  <div class="card">
    <img src="https://www.chicagobooth.edu/-/media/project/chicago-booth/mba/part-time-mba/admissions/2-men-at-computer.jpg?cx=0.49&cy=0.1&cw=940&ch=749&hash=00F3CE8204D558D3E4D0C1AAC9ED7611" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Personalized Course Recommmendations</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <%# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> %>
    </div>
  </div>
  <div class="card">
    <img src="https://www.chicagobooth.edu/-/media/project/chicago-booth/mba/academic-experience/curriculum/concentrations/chicago-booth-finance-steven-kaplan.jpg?cx=0.29&cy=0.44&cw=940&ch=749&hash=020E237D0E1CB463944F6E20058C5F70" class="card-img-top" alt="...">
    <div class="card-body">
      <h5><a href="/courses" class="card-title">Explore all Available Classes</a></h5>
      <p class="card-text">Browse through all available classes, bookmark your favorites, and explore!</p>
      <%# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> %>
      
    </div>
  </div>
  <div class="card">
    <img src="https://www.chicagobooth.edu/-/media/project/chicago-booth/mba/full-time-mba/chicago-booth-full-time-students.jpg?cx=0.39&cy=0.55&cw=940&ch=749&hash=097AB5346752BD957A6FE2A1C18EC0CE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">See the classes that students love the most</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <%# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> %>
    </div>
  </div>
</div>

<hr>

<h2>My favorite classes</h2>

<table class = 'table table-hover'>
      <tr>

        <th>
          Title
        </th>

        <th>
          Description
        </th>

        <th>
          Professor
        </th>

        <th style="text-align:center">
          Status
        </th>

        <th>
          Details
        </th>

      </tr>

      <% if @list_of_courses != nil %>
        <% @list_of_courses.each do |a_course| %>
        <tr>

          <td>
            <%= a_course.title %>
          </td>

          <td>
            <%= a_course.description %>
          </td>

          <td>
            <%= a_course.professor_id %>
          </td>

          <td style="text-align:center">
            <%# <% if Like.where({ :course_id => a_course.id}) != nil && Like.where({ :user_id => a_course.id}) == session[:user_id] %> 
            <%# <% if a_course.likes.first != nil && a_course.likes.first.user_id == session[:user_id] %> 
              <img src="https://1.bp.blogspot.com/--qAXSfx8T4A/WL-ecki3nRI/AAAAAAAAzbg/kdvEXjWEVrU8bvWnOq4XtSBUEJV10ESNgCLcB/s280/like-flat.png"
              width="50" height="50">
              

            <%# <% else%> 
              <%# <img src="https://img.icons8.com/cotton/2x/facebook-like--v2.png"  %>
              <%# width="40" height="40"> %>
            <%# <% end%> 
          </td>

          <td>
            <a href="/courses/<%= a_course.id %>">
              Show details
            </a>
          </td>
        </tr>
        <% end %>
        <% else %>
          No liked classes
        <% end%>
    </table>